---
import SEO from './seo.astro'
import Footer from './footer.astro'

import './blank.css'

export type Props = astroHTML.JSX.HTMLAttributes

const { props } = Astro
---

<html lang="en" data-theme="thaitoyou">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=contain"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <slot name="seo">
      <SEO />
    </slot>

    <slot name="head" />
  </head>
  <body>
    <slot name="above-main" />
    <main {...props}>
      <slot />
    </main>
    <slot name="below-main" />
    <Footer />
  </body>
</html>
