---
import { Picture } from 'astro:assets'

import ExternalLink from '$common/externalLink.astro'

import type { youtube_v3 } from '@googleapis/youtube'

export interface Props {
  snippet: youtube_v3.Schema$PlaylistItemSnippet
}

const { resourceId, thumbnails, title, playlistId } = Astro.props.snippet

const thumbnail = thumbnails!.maxres!
---

<ExternalLink
  href={`https://youtu.be/` +
    resourceId?.videoId +
    '?' +
    new URLSearchParams({
      list: playlistId!,
      utm_source: 'bkk.js.org',
      utm_medium: 'referral',
    }).toString()}
>
  <article class="bg-js space-y-2 rounded-xl overflow-hidden">
    <Picture
      src={thumbnail.url!}
      width={640}
      height={360}
      formats={['jpg', 'webp']}
      alt="video thumbnail"
      loading="lazy"
      decoding="async"
      class="w-80 h-auto"
    />
    <div class="px-4 pt-2 pb-4">
      <h1 class="line-clamp-2 w-72 font-semibold leading-tight">
        {title}
      </h1>
    </div>
  </article>
</ExternalLink>
